# Basic rules
AddDefaultCharset UTF-8
DirectoryIndex index.html index.htm index.php
Options -Indexes

ErrorDocument 404 /?topic_id=-404

RewriteEngine on

# Deny config
RewriteRule ^config.json$ - [F]

# Deny cron
RewriteRule ^cron.php$ - [F]

# Deny Error logs
RewriteCond %{QUERY_STRING} !your_pass_key
RewriteRule ^_[^/]*\.log$ - [F]

# Lazy
RewriteRule ^lazy/$ index.php?lazy [L,QSA]
